basePath: /
definitions:
  params.Category:
    properties:
      image:
        type: string
      name:
        type: string
    required:
    - name
    type: object
  params.CodeUnlimitParams:
    properties:
      appid:
        type: string
      scene:
        type: string
    required:
    - appid
    - scene
    type: object
  params.User:
    properties:
      auth_token:
        type: string
      avatar:
        type: string
      balance:
        type: number
      birthday:
        type: string
      city:
        type: string
      country:
        type: string
      country_code:
        type: string
      email:
        type: string
      gender:
        type: string
      language:
        type: string
      mobile:
        type: string
      nickname:
        type: string
      position:
        type: string
      province:
        type: string
      score:
        type: integer
      status:
        type: string
    type: object
  params.WechatUserCode:
    properties:
      appid:
        type: string
      code:
        type: string
    required:
    - appid
    - code
    type: object
  params.WechatUserGrantParams:
    properties:
      appid:
        type: string
      encryptedData:
        type: string
      iv:
        type: string
      open_id:
        type: string
    required:
    - appid
    - encryptedData
    - iv
    - open_id
    type: object
  vos.Category:
    properties:
      created_at:
        type: string
      id:
        type: integer
      image:
        type: string
      name:
        type: string
      shop_id:
        type: integer
      updated_at:
        type: string
    type: object
  vos.User:
    properties:
      auth_token:
        type: string
      avatar:
        type: string
      balance:
        type: number
      birthday:
        type: string
      city:
        type: string
      country:
        type: string
      country_code:
        type: string
      created_at:
        type: string
      email:
        type: string
      gender:
        type: string
      id:
        type: integer
      language:
        type: string
      mini_open_id:
        type: string
      mobile:
        type: string
      nickname:
        type: string
      position:
        type: string
      province:
        type: string
      score:
        type: integer
      session_key:
        type: string
      shop_id:
        type: integer
      status:
        type: string
      union_id:
        type: string
      updated_at:
        type: string
      wxa_wechat_id:
        type: integer
    type: object
host: api.gin-api.com
info:
  contact:
    email: 651019063@qq.com
    name: API Support
    url: http://www.swagger.io/support
  description: 接口文档
  license:
    name: menghuanwd
    url: https://www.gin-api.com/
  termsOfService: http://swagger.io/terms/
  title: gin-api API
  version: "2.0"
paths:
  /merchant/categories:
    get:
      consumes:
      - application/json
      parameters:
      - description: 名称
        in: query
        name: name
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/vos.Category'
            type: array
      summary: 列表
      tags:
      - 后台 分类
    post:
      consumes:
      - application/json
      parameters:
      - description: 新增分类
        in: body
        name: category_model
        required: true
        schema:
          $ref: '#/definitions/params.Category'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.Category'
      summary: 创建
      tags:
      - 后台 分类
  /merchant/categories/{id}:
    delete:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204": {}
      summary: 删除
      tags:
      - 后台 分类
    get:
      consumes:
      - application/json
      parameters:
      - description: id
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.Category'
      summary: 详细
      tags:
      - 后台 分类
    put:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      - description: 更新分类
        in: body
        name: category_model
        required: true
        schema:
          $ref: '#/definitions/params.Category'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.Category'
      summary: 更新
      tags:
      - 后台 分类
  /wechat/categories:
    get:
      consumes:
      - application/json
      description: 所有分类列表-分页
      parameters:
      - description: 名称
        in: query
        name: name
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/vos.Category'
            type: array
      summary: 列表
      tags:
      - 小程序 分类
  /wechat/users:
    post:
      consumes:
      - application/json
      description: 登录
      parameters:
      - description: 微信Code
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/params.WechatUserCode'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.User'
      summary: 登录
      tags:
      - 小程序 用户
  /wechat/users/{id}:
    put:
      consumes:
      - application/json
      parameters:
      - description: ID
        in: path
        name: id
        required: true
        type: integer
      - description: 更新
        in: body
        name: user_model
        required: true
        schema:
          $ref: '#/definitions/params.User'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.User'
      summary: 更新
      tags:
      - 小程序 用户
  /wechat/users/grant:
    post:
      consumes:
      - application/json
      description: 授权
      parameters:
      - description: 微信授权
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/params.WechatUserGrantParams'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.User'
      summary: 授权拿去用户信息
      tags:
      - 小程序 用户
  /wechat/users/me:
    get:
      consumes:
      - application/json
      description: 我
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.User'
      summary: 我
      tags:
      - 小程序 用户
  /wechat/users/wxacodeunlimit:
    post:
      consumes:
      - application/json
      description: 小程序码
      parameters:
      - description: 微信小程序码
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/params.CodeUnlimitParams'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/vos.User'
      summary: 生成微信小程序码
      tags:
      - 小程序 用户
swagger: "2.0"
